@charset "UT-8";


.content-title{
    text-align: center;
    margin: 50px 0;
}

.content-title{
    color: #fff;
    font-size: 3em;
    background: linear-gradient(to right, #7d6363 0 ,rgb(186, 27, 27) 10%, #561919 60%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: animate 3s infinite linear forwards;
    letter-spacing: 5px;

}


@keyframes animate {
    0%{
        background-position: 0;
    }
    50%{
        background-position: 180px;
    }
    

    100%{
        background-position: 180px;
    }
}