nav#navbar {
    display: flex;
    padding: 15px 25px;
    background-color: rgba(27, 20, 80, 0.44);
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }


#icon-camera {
    color: yellow;


}

button {
    height: 30px;
    background-color: brown;
    border: 2px solid brown;
    width: 30px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(80, 25, 25);
    transition: .5s;
}

input#isearch {
    height: 30px;
    padding-left: 4px;
    border-radius: 4px;
    border: none;
}

#navbar form {
    display: flex;
    gap: 0.5rem
}